@supports (grid-area:auto) {

  .site{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 100px 150px 120px 250px 600px 670px 800px 300px;
    grid-template-areas: 'hd hd hd hd hd hd'
    '. tl tl tl tl .'
    '. by by by by .'
    '. in in in in .'
    '. g1 g1 g1 g1 .'
    '. g2 g2 g2 g2 .'
    '. g3 g3 g3 g3 .'
    '. abt abt abt abt .'
    'ft ft ft ft ft ft';
  }

  /* Global Styles */
  .flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 32px;
  }

  p{
    font-family: 'Georgia', serif;
    font-size: 17px;
  }

  h6{
    color: #fff;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 12px;
  }

  /* Header */
  .header{
    grid-area: hd;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 5%;
    color: #fff;
    background-color: #333333;
  }

  .header h1, a {
    font-family: 'Cloister Black', serif;
    text-decoration: none;
    color: #fff;
  }

  .left-header{
    flex-basis: 15%;
  }

  #logo{
    flex-basis: 50%;
  }

  #log-in{
    flex-basis: 20%;
  }

  .header img{
    height: 15%;
    padding-right: 10px;
  }

  /* Title */
  .title{
    grid-area: tl;
  }

  /* By-Line */
  .by-line{
    grid-area: by;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
  }

  .by-line h3{
    padding-right: 10px;
  }

  .by-line h4{
    padding-right: 10px;
    color: gray;
  }

  .by-line img{
    height: 5%;
    width: 5%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #byline-left{
    flex-basis: 80%;
    display: flex;
  }

  #byline-right{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
  }

  /* Intro */
  .intro{
    grid-area: in;
  }

  /* Latest LA Now */
  /* .latest-la-now{
    grid-area: lat;
    border-style: solid;
  } */

  /* Graph1 */
  .graph1{
    grid-area: g1;
  }

  .graph1 h4, h5{
    flex-basis: 100%;
    font-family: 'Open Sans Bold', sans-serif;
  }

  .graph1 h4{
    font-size: 18px;
    text-align: center;
  }

  .graph1 h5{
    font-size: 12px;
  }

  /* Graph2 */
  .graph2{
    grid-area: g2;
  }

  .graph2 h4, h5{
    flex-basis: 100%;
    font-family: 'Open Sans Bold', sans-serif;
  }

  .graph2 h4{
    font-size: 18px;
    text-align: center;
  }

  .graph2 h5{
    font-size: 12px;
  }

  #container{
    text-align: center;
  }
  /* Graph3 */
  .graph3{
    grid-area: g3;
  }

  .graph3 h4, h5{
    flex-basis: 100%;
    font-family: 'Open Sans Bold', sans-serif;
  }

  .graph3 h4{
    font-size: 17px;
    text-align: center;
  }

  .graph3 h5{
    font-size: 12px;
  }

  #bar{
    width: 400px;
    height: 400px;
  }

  /* About Author */
  .about-author{
    grid-area: abt;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
  }

  #author-icon{
    width: 15%;
    height: 30%;
  }
  .about-author img{
    width: 5%;
    height: 10%;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 15px;
  }

  .about-author p{
    font-family: 'Cormorant Garamond SemiBold', serif;
    font-size: 16px;
    padding: 20px;
    border-bottom: 1px solid gray;
  }

  #about-contact{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid gray;
  }

  .about-author h4{
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 16px;
  }

  /* Footer */
  .footer{
    grid-area: ft;
    background-color: #333333;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer h5{
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    font-size: 36px;
  }

  .footer h1{
    color: #fff;
    font-family: 'Cloister Black', serif;
    font-size: 60px;
    text-align: center;
  }

  #ft-logo{
    flex-basis: 10%;
  }

  #ft-info{
    flex-basis: 30%;
  }

  #ft-links-left{
    flex-basis: 10%;
  }

  #ft-links-right{
    flex-basis: 10%;
  }


}

@media screen and (max-width:768px){

  .site{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 75px 200px 500px 500px 500px;
    grid-template-areas:
    'hd'
    'tl'
    'by'
    'lat'
    'in'
    'g1'
    'g2'
    'g3'
    'ft';
  }




}
